.menu{

  &__link{
    font-size: $menu-size;
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $light-font;
    padding: 0 20px;
    letter-spacing: 1px;

  }
}
.logo{
  flex-grow: 1.2;
  @include col();
  a {

  }
    //@include size(2);

}
nav{
  @include col();
  //@include size(6);
  flex-grow: 1;
}


.header{
  min-height: 78px;
  @include row-flex;
  align-items: center;
  justify-content: space-between;

  & > *{
    @include col();
  }
}
