$main-color: #009af2;
$secondary-color: #ffffff;
$btn-color: #4fdf81;
$btn-help-color: #f24841;
$text-color: #414141;
//fonts

$light-font: "Ubuntu-L";
$regular-font: "Ubuntu-R";

$menu-size: 18px;
$smalltext-size: 16px;
$h1-size: 48px;
$small-height: 24px;