<header>
    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <a href="/"><img src="/img/logo.png"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Для шкіл</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Для Дитячих садків</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Для зНЗ</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">про проект</a>
                    </li>
                </ul>
            </nav>
            <div class="language">
                <form class="language__form">
                    <div class="language__wrapper">
                        <span href="#" class="language__selected pointer">Укр</span>
                        <ul class="language__items">
                            <li class="language__item"><a href="#">Укр</a></li>
                            <li class="language__item"><a href="#">Рус</a></li>
                            <li class="language__item"><a href="#">En</a></li>
                        </ul>
                        <input type="hidden" id="language__select">
                    </div>
                </form>
            </div>
            <div class="connect">
                <a href="#" class="btn btn-green">Підключити</a>
            </div>
        </div>
    </div>

</header>
